/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  background: #000;
  border-radius: 50%;
  animation: l6 1s infinite linear alternate;
  display: inline-block;
}
@keyframes l6 {
    0%  {box-shadow: 15px 0,-25px 0}
    50% {box-shadow: 15px 0,-15px 0}
    100%{box-shadow: 25px 0,-15px 0}
}

/* Utility to center loader */
.loader-center { display:flex; align-items:center; justify-content:center; padding:8px; }